<h1>Stupid Coaching</h1>

<div class=para1>
<p><%= params[:question] %><p>
<div class= subheader>
- You
</div>
</div>

<div>
<br>
</div>


<div class= para2>
<p><%= @answer %><p>
<div class= subheader>
- Your coach
</div>
</div>

<div class= para3>
<p><%= link_to "Ask a new question", "/ask" %><p>
</div>
